[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=graphical-session-pre.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/share/mise/installs/github-jtroo-kanata/latest/kanata_linux_x64 --cfg %h/.config/kanata/kanata.kbd --no-wait
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
