scriptEnv:
  INSTALL_PACKAGES: "true"
  # BitwardenSecrets
  BWS_REINSTALL: "false"
  BWS_SHOW_INSTALLER: "false"

data:
  FORCE_RUN_ONCHANGE: "false"
  INSTALL_EXTRAS: "false"

{{ if eq .chezmoi.os "windows" -}}
hooks:
  read-source-state:
    pre:
      command: "powershell"
      args:
        [
          "-NoProfile",
          "-ExecutionPolicy",
          "Bypass",
          "-File",
          "{{ .chezmoi.sourceDir }}/.install-pw-manager.ps1",
        ]

interpreters:
  nu:
    command: "{{ .chezmoi.homeDir }}/AppData/Local/Programs/nu/bin/nu.exe"

{{ end -}}
{{ if and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.name "NixOS") -}}
hooks:
  read-source-state:
    pre:
      command: "sh"
      args:
        [
          "{{ .chezmoi.sourceDir }}/.install-pw-manager.sh"
        ]
{{ end -}}
