#!/usr/bin/env nu

# login to gh
{{ (bitwardenSecrets
     "90a30c12-3351-49be-9e4c-b3e400e715ef"
     (env "BWS_ACCESS_TOKEN" | default "")
).value | quote }} | gh auth login -p ssh -h github.com --with-token

