{{ if eq .chezmoi.os "windows" -}}
@echo off
set "SESSION_TOKEN="
for /f "usebackq delims=" %%A in (`bw login {{ .email }} --raw`) do (
  set "SESSION_TOKEN=%%A"
)
if defined SESSION_TOKEN (
  setx BW_SESSION "%SESSION_TOKEN%"
  echo Restart the shell
) else (
  echo Already logged in.
  echo If you need to unlock vault:
  echo nushell:    bw-unlock
)
{{- end }}
