{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# install curl if needed
{{ if contains "debian" .chezmoi.osRelease.idLike  }}
sudo apt install curl
{{ end -}}

# install nix
if ! command -v nix-env 2>&1 >/dev/null
then
	sh <(curl -L https://nixos.org/nix/install) --daemon
	PATH=/nix/var/nix/profiles/default/bin:$PATH
fi

# install individual packages
nix-env -iA {{ range .packages.linux -}}{{ . }} {{ end -}}
{{ end -}}
