{{ if eq .chezmoi.os "windows" -}}
:: set xdg config home to .config
setx XDG_CONFIG_HOME %userprofile%/.config 

:: install winget packages
winget install {{ range .packages.windows.winget -}}{{ . }} {{ end }}

:: install choco packages
"C:\ProgramData\chocolatey\choco.exe" install -y {{ range .packages.windows.choco -}}{{ . }} {{ end }}

:: refresh env
refreshenv
{{ end }}
