{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "NixOS") -}}

#!{{ lookPath "bash" }}
{{ if eq .FORCE_RUN_ONCHANGE "true" -}}
# random string to force run the script {{ randAlphaNum 50 }}
{{- end }}
# nix files hash: {{ include "flake.lock" | sha256sum }}
# nix files hash: {{ include "flake.nix" | sha256sum }}
# nix files hash: {{ include ".chezmoitemplates/kanata.kbd" | sha256sum }}
# nix files hash: {{ include ".nix/modules/common.nix" | sha256sum }}
# nix files hash: {{ include ".nix/modules/raf-user.nix" | sha256sum }}
# nix files hash: {{ include ".nix/hosts/desktop/default.nix" | sha256sum }}
# nix files hash: {{ include ".nix/hosts/desktop/hardware-configuration.nix" | sha256sum }}
flake_host="$(hostname)"
case "$flake_host" in
nixos) ;;
*) flake_host="nixos" ;;
esac
sudo nixos-rebuild switch --flake path:{{ .chezmoi.sourceDir }}#"$flake_host"
{{- end -}}
