{{ if eq .chezmoi.os "windows" -}}
print "Setting up Kanata to run on startup"
# Making kanata run on startup by placing link to its .exe in startup folder
let startupFolder = ($env.APPDATA | path join "Microsoft\\Windows\\Start Menu\\Programs\\Startup\\Kanata")
let kanataPath = which {{ .kanataExe }} | get path | get 0 | str replace -a \ \\
sudo cmd /c mklink $startupFolder $kanataPath
{{- end }}
