alias vim = nvim
alias vi = vim
alias cat = bat
alias cm = chezmoi
alias cma = cm apply --init

{{- /* For platform specific aliases to add */ -}}

{{- if eq .chezmoi.os "windows" }}
alias kanata = {{ .kanataExe }}
{{ end -}}

{{- if eq .chezmoi.os "linux" }}
alias zj = zellij
alias zjc = zj a config
alias sudopath = sudo --preserve-env=PATH env
{{ end -}}
