{{- /* For platform specific paths that need to be added to path */ -}}
use std/util "path add"

{{- if eq .chezmoi.os "windows" }}
{{ else if eq .chezmoi.osRelease.name "NixOS" }}
{{ else if eq .chezmoi.os "linux" }}
path add /home/linuxbrew/.linuxbrew/bin
path add /home/linuxbrew/.linuxbrew/sbin
{{ end -}}

if not (which uv | is-empty) {
  let uv_python_bin = (uv python dir --bin)
  if ($uv_python_bin not-in $env.PATH) {
    uv python update-shell
    path add $uv_python_bin
  }
}
