{{- /* For platform specific paths that need to be added to path */ -}}
use std/util "path add"

{{- if eq .chezmoi.os "windows" }}
# Windows only
path add ($env.LOCALAPPDATA | path join mise shims)
{{ else if eq .chezmoi.os "linux" }}
# Linux
{{- if eq .chezmoi.osRelease.name "NixOS" }}
# NixOS
{{ else }}
# Not NixOS (mise shims first: uv below comes from mise)
path add ($env.HOME | path join .local/share/mise/shims)
{{ end -}}
$env.PATH ++= [(uv python dir --bin)]
{{ end -}}
# Always
$env.PATH = ($env.PATH | uniq -i)
