{{- /* For platform specific paths that need to be added to path */ -}}
use std/util "path add"

{{- if eq .chezmoi.os "windows" }}
# Windows only
{{ else if eq .chezmoi.os "linux" }}
# Linux
$env.PATH ++= [(uv python dir --bin)]
{{- if eq .chezmoi.osRelease.name "NixOS" }}
# NixOS
{{ else }}
# Not NixOS
path add /home/linuxbrew/.linuxbrew/bin
path add /home/linuxbrew/.linuxbrew/sbin
{{ end -}}
{{ end -}}
# Always
$env.PATH = ($env.PATH | uniq -i)
