alias vim = nvim
alias vi = vim
alias cat = bat
alias cm = chezmoi
alias zj = zellij
alias zjc = zj --layout chezmoi attach --create --force-run-commands chezmoi
alias sshp = ssh -D 1080 -N

{{- /* For platform specific aliases to add */ -}}

{{- if eq .chezmoi.os "windows" }}
alias cma = sudo chezmoi apply --init
alias kanata = {{ .kanataExe }}
{{ end -}}

{{- if eq .chezmoi.os "linux" }}
alias cma = chezmoi apply --init
alias sudopath = sudo --preserve-env=PATH env
{{ end -}}
