# Nushell Config File

# The default config record. This is where much of your global configuration is setup.
$env.config = {
  cursor_shape: {
    vi_insert: line # block, underscore, line, blink_block, blink_underscore, blink_line, inherit to skip setting cursor shape (block is the default)
    vi_normal: block # block, underscore, line, blink_block, blink_underscore, blink_line, inherit to skip setting cursor shape (underscore is the default)
  }
  edit_mode: vi # emacs, vi
  hooks: {
    pre_prompt: [{ null }] # run before the prompt is shown
    pre_execution: [{ null }] # run before the repl input is run
    env_change: {
      PWD: [{|before after| null }] # run if the PWD environment is different since the last repl input
    }
  }
  keybindings: [
    {
      name: homerow_enter
      modifier: control
      keycode: char_m
      mode: [vi_normal vi_insert]
      event: {send: enter}
    }
  ]
}

source ($nu.default-config-dir | path join 'add_alias.nu')

mkdir ($nu.data-dir | path join "vendor/autoload")
starship init nu | save -f ($nu.data-dir | path join "vendor/autoload/starship.nu")

source $"($nu.cache-dir)/carapace.nu"
source $"($nu.cache-dir)/.zoxide.nu"
use ~/.config/nushell/custom-commands.nu *

if $env.ZELLIJ? == null {
  zellij --layout welcome attach --create welcome
}
