Host ubuntuServerTrueNAS
  HostName 192.168.1.76
  IdentityFile ~/.ssh/id_ed25519
  User raf

Host trueNAS
  HostName truenas
  User admin

Host oracleVM
  HostName 129.151.228.131
  IdentityFile  ~/.ssh/id_ed25519
  User ubuntu

Host oracleMicro
  HostName 84.235.235.187
  IdentityFile  ~/.ssh/id_ed25519
  User ubuntu

Host oracleMicro2
  HostName 129.151.245.56
  IdentityFile  ~/.ssh/id_ed25519
  User ubuntu

{{ if ne .chezmoi.hostname "pc-raf" -}}
Host pc-raf
  HostName pc-raf
  IdentityFile ~/.ssh/id_ed25519
  User Raf
{{- else -}}
Host nixvm
  HostName nixos.mshome.net
  IdentityFile  ~/.ssh/id_ed25519
  User raf
{{- end }}
