Host ubuntuServerTrueNAS
  HostName 192.168.1.76
  User raf
  SetEnv TERM=xterm-256color
  RequestTTY yes 
  RemoteCommand tmux -u new -A -s ssh_tmux

Host TrueNAS
  HostName truenas
  User admin
  SetEnv TERM=xterm-256color
  RequestTTY yes 
  RemoteCommand tmux -u new -A -s ssh_tmux

Host portainerOracle
  HostName 129.151.228.131
  User ubuntu
  SetEnv TERM=xterm-256color
  RequestTTY yes 
  RemoteCommand tmux -u new -A -s ssh_tmux

Host microOracle
  HostName 84.235.235.187
  User ubuntu

Host micro2Oracle
  HostName 129.151.245.56
  User ubuntu
  SetEnv TERM=xterm-256color
  RequestTTY yes 
  RemoteCommand tmux -u new -A -s ssh_tmux

{{ if ne .chezmoi.hostname "pc-raf" -}}
Host pc-raf
  HostName pc-raf
  User Raf
{{- else -}}
Host nixvm
  HostName nixos.mshome.net
  User raf
{{- end }}
